/*
orange  e46504
green   a6d810
blue    297bc1
black   060606
purple  9a11d3
pink    ff3b9a
*/

/*____________________________________________________________________  body  */
html, body {
  background: #060606 url(bg.gif) 50% 0 repeat;
}
body {
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #060606;
  color: #fff;
  padding: 20px 0;
  margin: 0;
}

/*_________________________________________________________________  wrapper  */
div#wrapper {
  margin: 0 auto;
  width: 622px;
  margin-bottom: 20px;
  border: 1px solid #333;
  padding: 18px 10px;
  background-color: #060606;
}

/*__________________________________________________________________  header  */
#version {
  float: right;
  height: 55px;
  width: 55px;
  background-image: url(version.png);
}
#header {
  padding-bottom: 9px;
}
#header h1 {
  display: inline;
  letter-spacing: -1px;
  margin-bottom: 0;
  font-family: Georgia, serif;
  font-style: italic;
}

/*_____________________________________________________________________  nav  */
div#nav {
  font-weight: bold;
  padding-bottom: 9px;
  margin-bottom: 18px;
  border-bottom: 1px dotted #333;
}

/*____________________________________________________________________  text  */
.hidden {
  display: none;
}
p {
  text-indent: 18px;
  text-align: justify;
}
p, pre {
  margin: 0 0 18px 0;
}
pre, code {
  font-family: Monaco, monospace;
  font-size: 12px;
}
pre {
  background-color: #060606;
  width: 600px;
  overflow: auto;
}
code {
  color: #a6d810;
}

/*__________________________________________________________________  images  */
img {
  border: none;
}

/*___________________________________________________________________  lists  */
ul, ol, li {
  margin: 0;
  padding: 0;
}
ul, ol {
  margin: 18px 0;
  padding-left: 18px;
}
ol li {
  list-style-type: decimal;
}
ul li {
  list-style-type: square;
}
li {
  margin-left: 18px;
}

/*__________________________________________________________________  tables  */
table {
  width: 100%;
  margin: 0 0 18px 0;
}
table th {
  text-align: left;
  font-style: italic;
  font-weight: bold;
  font-family: Georgia, serif;
  border-bottom: 1px dotted #333;
}
table td, table th {
  padding: 5px 15px 5px 0px;
  vertical-align: top;
}
table td.option {
  font-weight: bold;
  color: #ff3b9a;
  padding-left: 0;
  width: 120px;
}
table#features-table tr td {
  vertical-align: middle;
  padding: 5px 5px 5px 10px;
}
table#features-table tr td.strong {
  font-family: Georgia, serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  width: 96px;
  color: #ff3b9a;
}
table.thumbs {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}
table.thumbs td {
  padding: 0;
  text-align: center;
  width: 150px;
}
table#download-table tr td {
  vertical-align: middle;
}
table#download-table tr td.button-container {
  width: 150px;
  text-align: center;
}

/*___________________________________________________________________  links  */
a:link,
a:visited {
  text-decoration: none;
  color: #4697ce;
}
a:link:hover,
a:visited:hover {
  text-decoration: underline;
  color: #ff3b9a;
}
a.option {
  display: block;
  text-align: left;
  color: #fff;
  background-color: #297bc1;
  line-height: 140%;
  padding: 5px 0;
  margin: 6px 0;
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  border: 3px double #fff;
}
a.option:hover {
  text-decoration: none;
  background-color: #ff3b9a;
  color: #fff;
}

/*_________________________________________________________________  headers  */
h1, h2, h3 {
  margin-bottom: 18px;
  font-weight: bold;
}
h1 {
  font-size: 24px;
  line-height: 36px;
}
h2 {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 18px;
  line-height: 18px;
}
h3 {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 1em;
  line-height: 18px;
  color: #e46504;
}

/*___________________________________________________________________  demos  */
#inline-sample-content {
  padding: 10px;
}
#hongkong {
  text-align: center;
  margin-bottom: 18px;
}

/*___________________________________________________________________  forms  */
form p {
  text-indent: 0;
}
form#build-form {
  padding: 1px 9px;
  background: url(bg.gif) top left repeat;
  margin-bottom: 18px;
}
form#build-form select {
  padding-left: 2px;
}
input.button, button {
  padding: 4px 5px;
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  border: 3px double #fff;
  background-color: #297bc1;
  color: #fff;
  cursor: pointer;
}
input.button:hover, button:hover {
  background-color: #ff3b9a;
}

/*___________________________________________________________________  notes  */
p.note {
  text-indent: 0;
  background-image: url(bg.gif);
  background-repeat: repeat;
  padding: 10px;
  border: 1px dashed #9a11d3;
}
p.note span {
  color: #9a11d3;
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: bold;
}

/*______________________________________________________________________  qa  */
div.question p, div.answer p {
  text-indent: 0px;
}
div.question span, div.answer span {
  font-weight: bold;
  color: #9a11d3;
  font-family: Georgia, serif;
  font-style: italic;
}

/*__________________________________________________________________  footer  */
div#footer {
  border-top: 1px dotted #333;
  font-family: Georgia, serif;
  font-style: italic;
  padding: 9px 0 0;
  text-align: center;
}
