@page {
  size: a4;
  margin: 1cm;
  font: 11pt/1.3 "Gentium", serif;

  @top-right { 
    content: string(title);
    font-style: italic;
  }
  @top-left { 
    content: string(source);
    font-style: italic;
  }
  @bottom-center {
    content: counter(page);
    vertical-align: top;
    padding-top: 1em;
  }
}


/* Styles généraux */
body{
	
	prince-linebreak-magic: auto; 
	hyphens: auto;
	text-align: justify;

	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
}
h6{
	font-size: 11px;
}
h5{
	font-size: 12px;
}
h4{
	font-size: 13px;
}
h3{
	font-size: 14px;
}
h2{
	font-size: 15px;
}
h1{
	font-size: 19px;
}
p{
	text-align: justify;
}
pre{
	font-size: 1.2em;
}
blockquote{
	border-left: solid 1px #22f;
	padding-left: 0.3em;
}
img {
	border: none;
}
img.right{
	margin: 2px 0px 2px 6px;
	float: right;
}
img.left{
	margin: 2px 6px 2px 0px;
}
hr {clear:both;visibility:hidden;}

/* style liens */
a:link{text-decoration:none;color:#134A81;}
a:active{text-decoration:none;color:#666;}
a:visited{text-decoration:none;color:#666;}

.erreur{
	color: red;
}
.ok{
	color: green;
}

/* Coloration des lignes des tableau de manière alternative */
.odd {background-color: #e3e3e3;}
.even {background-color: #f5f5f5;}

/****** Formulaire d'ajout *******/
label{ 
	margin: 0 9px 0 0;
	font-weight: bold;
}
label:after{
	content: ":";
}
fieldset {
	border: solid 1px #777;
	float: left;
	text-align: left;
	margin: 1%;
	padding: 1%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.boutons{
	clear: both;
	text-align: center;
	margin: 10px;
}

/* Quelques styles qui sont pratique */
div.postit{
	background-color: #ff8;
	width: 40%;
	float: right;
	padding: 5px;
	border: solid 1px #888;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
div.gauche{
	float: left;
}
div.droite{
	float: right;
}
/* Le texte qui est dans un bloc est mis dans un paragraphe qui lui est par défaut justifié donc on le change à centré */
div.centre p{
	text-align: center !important;
}
div.centre{
	text-align: center !important;
}
div.cadre{
	border: solid 1px #888;
	padding: 5px;
	margin: 3px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
/* conu pour faire un article sur 3 colonne */
div.colonne{
	float: left;
	width: 30%;
	margin: 10px;
}
div.moitie{
	float: left;
	width: 45%;
	margin: 10px;
}
div.fondjaune{
	background-color: #ff8;
}
div.fondbleu{
	background-color: #6487dc;  /*aliceblue F0F8FF*/
	color: white;
}
div.fondvert{
	background-color: #bfb;
}
div.fondrouge{
	background-color: #fbb;
}
/* à placer absolument après les autres classes utilisées pour la mise en page , ceci afin surcharger les marges qu'aurait fait une autre classe*/
div.bloccentre{
	width: 50%;
	margin: auto;
}
div.blocnews{
	width: 90%;
	border: solid 1px #ffe;
	margin-bottom: 7px;
	margin-left: auto;
	margin-right: auto;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
.blocnews p{
	padding: 5px;
}
.blocnews h3, .blocnews h1, .blocnews h2{
	margin: 0px;
	padding: 1px;
	color: #888 !important;
	background-color: #ff8;
	background-image: url('fond-titre-news.png');
	-moz-border-radius-topright: 6px;
	-moz-border-radius-topleft: 6px;
	-webkit-border-radius-top: 6px;
}

/*********  Placement des boites   **********/

#entete,#blocPseudo,#deconnexion{
	display: none;
}
#corps{
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
#pied{
	display: none;
}


/********* auto-complétion  **********/

.ac_results {
	padding: 0px;
	border: solid 1px #888;
	background-color: white;
	overflow: hidden;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;
}

.ac_loading {
	background : Window url('../img/loading.gif') right center no-repeat;
}

.ac_over {
	background-color: lightblue;
	color: white;
}

/************* tables ************/
table.tablesorter{
	width: 100%;
	text-align: left;
	border: solid 1px black;
	margin: 0;
	padding: 0;
}

table.tablesorter tr th, table.tablesorter tr th {
	background-color: #e6EEEE;
	text-align: left;
}

table.tablesorter tr .header {
	background-image: url('../img/bg.gif');
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter td {
	padding: 2px;
	vertical-align: top;
	border-top: solid 1px black;
}

table.tablesorter tr.odd td {
	background-color:#F0F0F6;
}
/*********** calendrier **********/

#fenetreCalendrier{
	clear: both;
	height: 100%;
	width: 782px;
	padding:0;
	margin:0;
}


/* IL FAUT définir une hauteur de base avec des unités non relative pour pouvoir faire du relatif dans le enfants. Donc, ici hauteur en pixel */
#calendrier{
	position: relative;
	width:767px;
	/*height: 768px;  0.5h=>15px 1h=>30px 24h=>720px + les bordures 24x2 = 768px */
	clear: both;
}

#graduation{
	position: relative;
	float: left;
	width: 50px;

	padding:0;
	margin:0;
	border-top: solid 1px #888;
	border-left: solid 1px #888;
}
div.legendeHeure{
	padding:0px;
	margin:0px;
	width: 50px;
	float: left;
	border-right: solid 1px white;
}

div.jour{
	position: relative;
	width: 100px;
	float: left;
	border: solid 1px #888;
	padding:0px;
	margin:0px;
}
#jourEntier{
	padding:0px;
	margin:0px;
	width: 782px;  /* pour safari */
	clear: both;
}
div.jourEntier{
	padding:0px;
	margin:0px;
	width: 100px;
	height: 32px;
	float: left;
	border: solid 1px #888;
}
div.dateDuJour{
	padding:0px;
	margin:0px;
	width: 102px;
	float: left;
	text-align: center;
}
div.heure{
	padding:0px;
	margin:0px;
	border-bottom: solid 1px #888;
}
p.demiHeure{
	padding:0px;
	margin:0px;
	height: 15px;
}
p.ligneMillieu{
	border-top: dashed 1px #bbb;
	padding:0px;
	margin:0px;
}

#calendrier .evenement{
	padding: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	-webkit-border-radius: 5px;
	opacity: 0.85;
	position: absolute;
	width: 90px;
	margin:0;
}
#calendrier .evenement p{
	text-align: left;
}
div.evenement h3{
	margin: 0px;
	padding:0px;
	font-size: 11px;
	height: 11px;
	cursor: move;
}
/* pour que le overflow hidden soit applicable, il faut donner une taille au bloc */
.nomEvenement{
	margin: 0px;
	overflow: hidden;
	cursor: move;
}
.resizeHandle{
	margin: 0px;
	padding:0px;
	height: 2px;
	cursor: s-resize;
}
.resizeHandle:hover{
	background-image: url('../img/poignee.png');
	background-repeat: repeat-x;
}
div.repas{
	background-color: #9df;
	border: solid 1px #07f;
}
div.sport{
	background-color: #ffb;
	border: solid 1px #0cc;
}
div.activite{
	background-color: #faa;
	border: solid 1px #f00;
}
div.divers{
	background-color: #6f7;
	border: solid 1px #0a0;
}
#loading{
	display: none;
}
#masque{
	display: none;
}
#boiteDialogue{
	display: none;
}

/***** Calendrier vue mensuelle *********/

.noDuJour{
	margin: 5px;
}
.blocJour{
	border: solid 1px #888;
	float: left;
	width: 100px;
	height: 100px;
	text-align: right;
}
.aujourdhui{
	background-color: #ebf3fb;
}
.moisEvenement{
	padding: 0px;
	-webkit-border-radius: 7px;
	opacity: 0.85;
	margin:0;
	height: 15px;
	text-align: left;
	overflow: hidden;
}
.moisEvenement .nomEvenement{
	padding-left: 4px;
}
#jourSemaine, #dateSemaine{
	padding:0px;
	margin:0px;
	width: 782px;
	clear: both;
}

/** nom des calendrier **/
#listeCalendrier {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}
#listeCalendrier li span{
	margin:0;
	padding-right: 10px; /* permet de donner la largeur */
	margin-right: 3px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
}
#listeCalendrier li {
	margin: 3px;
}


/**** formulaire modification ******/
#nomDetail{
	width: 80%;
}
#tags{
	width: 70%;
}
#lieuDetail{
	width: 50%;
}

/********** Blog *****************/
.dateBlog{
	height: 50px;
	width: 47px;
	background-color: transparent;
	background-image: url('../img/calendar.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	font-size: 10px;
	color: #666666;
	text-align: center;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0;
	padding-left: 0;
	float: left;
	margin-bottom:0;
}
.blocNomBlog h1{
	background-color: #6487dc;
	color: #fff;
	font-size: 18px;
	width: 90%;
	float: left;
	margin-left: 10px;
	padding-left: 5px;
}
.blocContenuBlog{
	clear: both;
}
.moisCreation{
	margin-top: 8px;
	margin-bottom: 0;
	color: #fff;
	text-align: center;
}
.jourCreation{
	margin: 0;
	margin-top: 4px;
	padding: 0;
	text-align: center;
}

/****** masquage pour pdf ******/
#blocLogin, #blocTags, #menu, #dock, #pagination,#blocGestionCommentaires{
	display: none;
}
/***** statut *******/
p.dateStatut{
	margin:0;
	color: #999;
}
p.corpsStatut{
	margin: 1px;
	margin-top:5px;
	font-size: 14px;
}
.doc2col {
	padding: 8px;
	text-align: justify;
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-moz-column-rule: 1px dotted #BBB;
	-khtml-column-count: 2;
	-khtml-column-gap: 20px;
	-khtml-column-rule: 1px dotted #BBB;
}

.doc3col {
	padding: 8px;
	text-align: justify;
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-moz-column-rule: 1px dotted #BBB;
	-khtml-column-count: 3;
	-khtml-column-gap: 20px;
	-khtml-column-rule: 1px dotted #BBB;
}
/******* Page d'accueil *********/

.ficheNews{
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-khtml-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-khtml-border-bottom-right-radius: 6px;
	margin-bottom: 10px;
	border: dotted 1px #ccc;
}
.ficheNews p{
	margin: 0;
	padding: 5px;
	padding-bottom: 0;
}
.ficheNews h3{
	margin: 0px;
	padding: 5px 0 0 5px;
}
.liensNews{
	clear: both;
	display: block;
	margin: 2 0 0 0;
	margin-left: 5px;
}
#blocNuage{
	clear: both;
}
.rose{
	color: #fff;
	background-color: #fc575e;
	padding: 5px;
}
.vert{
	color: #fff;
	background-color: #66cc9a;
	padding: 5px;
}
.bleu{
	color: #fff;
	background-color: #4ebaff;
	padding: 5px;
}
.jaune{
	color: #fff;
	background-color: #fbca54;
	padding: 5px;
}
.violet{
	color: #fff;
	background-color: #ba4df0;
	padding: 5px;
}
#colonnes{
	padding: 8px;
	text-align: justify;
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-khtml-column-count: 3;
	-khtml-column-gap: 20px;
}
